@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&display=swap');

body{
    color: black;
    font-family: "Chocolate Classical Sans", sans-serif;
    font-weight: 200;
    font-style: normal;
}

button:hover{
    background-color: #faedfb;
    color: black;
}

/*HOME PAGE*/
.img_slide {
    display: none;
    width: 100%;
    height: auto;
}

.show {
    display: block;
}

.home_section1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.image_slider{
    image-rendering: smooth;
    grid-column: span 3;
    position: relative;
}

.image_slider button{
    position: absolute;
    bottom: 10px;
    right: 16px;
    background-color: rgba(180,180, 180, 0.2);
    padding: 15px ;
    font-size: 14px;
    text-transform: uppercase;
}

.section1_content{
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1_content p {
    margin: 15px;
    font-size: 25px;
    font-family: "Playwrite PL", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.buttons {
    font-size: 15px;
    width: 140px;
    height: 50px;
    border-width: 1px;
    color: white;
    border-color: rgba(226,226,226, 1);
    border-radius: 3px;
    background-color: black;
    box-shadow: 8px 5px 2px 2px #faedfb;
}

.home_section2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*height: 100vh;*/
}


.profile_container{
    position: relative;
    grid-column: span 1;
}

#profile_img {
    height: 100%;
    width: 50%;
    position: absolute;
}

#profile_bck{
    width: 100%;
    height: 100%;
}

#about{
    grid-column: span 1;
    align-items: center;
    justify-content: center;
}

#about p {
    margin: 20px;
    line-height: 2.5;
    font-size: 18px;
}

/*NAVBAR*/
header{
    border-bottom: 1px solid grey;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    background-color: white;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li{
    float: right;
}

li a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    color: black;
}

.nav_item a:hover{
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 18px;
}


/*CONTACT PAGE*/
#contact_container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section1_contact{
    font-size: 20px;
    grid-row: span 1;
    padding-bottom: 20px;
    border-bottom: grey 1px solid;
}

.section1_contact p {
   text-align: center;
    padding: 15px;
   width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.buttons_contact{
    justify-content: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

.section1_contact button{
    margin-left: 20px;
}

#btn_1{
    width: fit-content;
}

.section2_contact{
    grid-row: span 1;
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    background-color: rgb(241, 242, 228);
}

.section2_contact form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

#message{
    height: 120px;
}

.section2_contact form input {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 80%;
    margin-left: auto;
    border: none;
    border-radius: 3px;
    margin-right: auto;

}

.section2_contact form label{
    font-size: 18px;
    margin-left: 80px;
    padding: 10px;
}

#submit_form{
    background-color: black;
    width: 40%;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

/*PRODUCTS PAGE*/

#product_page{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}

#product_page img{
    width: 400px;
}

#section1_product{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section2_product{
    grid-column: span 1;
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
}

#section2_product p{
    grid-row: span 1;
    padding-top: 50px;
}

#section3_product{
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container_1{
    position: relative;

}

.container_1 img{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.image_dsc{
    position: absolute;
    bottom: 8px;
    left: 100%;
    background-color: cadetblue;
    overflow: hidden;
    width: 0;
    height: 98%;
    transition: .5s ease;
}

.container_1:hover .image_dsc{
    width: 100%;
    left: 0;
}

.desc{
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.section2_product_form{
    grid-row: span 1;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 25px;

}

.section2_product_form {
    display: flex;
    flex-direction: column;
}


.section2_product_form input {
    display: flex;
    flex-direction: column;
    height: 25px;
    margin-left: auto;
    border: none;
    width: 100%;
    border-radius: 3px;
    margin-right: auto;
    padding: 5px;
    background-color: rgba(241, 242, 228, 0.6);
}

.section2_product_form label{
    font-size: 14px;
}

#products_menu{
    height: 25px;
    margin-left: auto;
    border: none;
    border-radius: 3px;
    margin-right: auto;
    padding: 5px;
}

#submit_form_p{
    margin-top: 5px;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    background-color: black;
    padding: 8px;
}

div > h3 {
    color: lightcoral;
    text-transform: uppercase;
    text-align: center;
}

#product_form{
    width: 100%;
    /*border: grey 1px solid;*/
    padding: 10px;
    grid-row: span 1;
    border-top: grey 1px solid;
}
