<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Site</title>
</head>
<body>

    <div id="navbar"></div>

    <main>
        <section>
            <h1>Company Name</h1>
            <p>Praesent vel lacus et sem sollicitudin consectetur ac sit amet sem. In hac habitasse platea dictumst. Aliquam in justo purus. Phasellus justo risus, feugiat sed sapien tempus, sagittis rutrum massa. Cras et dui quis quam ultricies pharetra consectetur eget diam. Proin non vulputate magna, sed fermentum mauris. Donec semper auctor felis eu vehicula. Sed ornare sem sit amet metus sagittis elementum. Proin bibendum nulla vel iaculis elementum. Maecenas suscipit tortor quis facilisis eleifend. Duis sit amet nisl at lacus feugiat cursus ac ac magna. Curabitur pellentesque sapien vel ante posuere, ac ullamcorper lacus eleifend. Integer bibendum lacus non sagittis egestas.</p>
            <button>111-222-3333</button>
            <button>companyEmail@gmail.com</button>
        </section>

        <section>
            <h3>Contact us</h3>
            <form action="" method="">
                <label for="name"> Name: </label>
                <input type="text" id="name" name="name" required placeholder="Wilson Doe"> <br>

                <label for="email"> Email: </label>
                <input type="email" id="email" name="email" required placeholder="user@email.com"> <br>

                <label for="message"> Message: </label>
                <input type="text" id="message" name="message" required placeholder="Write your message here"> <br>

                <input type="submit" value="submit" required> <br>

            </form>
        </section>
    </main>

    <div id="footer1"></div>

    <script src="/static/js/loadNav.js"></script>
</body>
</html>