<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Site</title>
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>

    <div id="navbar"></div>

    <main id="contact_container">
        <section class="section1_contact">
            <h1>Company Name</h1>
            <p>Praesent vel lacus et sem sollicitudin consectetur ac sit amet sem. In hac habitasse platea dictumst. Aliquam in justo purus. Phasellus justo risus, feugiat sed sapien tempus, sagittis rutrum massa. Cras et dui quis quam ultricies pharetra consectetur eget diam. Proin non vulputate magna, sed fermentum mauris. Donec semper auctor felis eu vehicula. Sed ornare sem sit amet metus sagittis elementum. Proin bibendum nulla vel iaculis elementum. Maecenas suscipit tortor quis facilisis eleifend. Duis sit amet nisl at lacus feugiat cursus ac ac magna. Curabitur pellentesque sapien vel ante posuere, ac ullamcorper lacus eleifend. Integer bibendum lacus non sagittis egestas.</p>
            <div class="buttons_contact">
                <button class="buttons">111-222-3333</button>
                <a href="mailto:companyEmail@gmail.com">
                <button class="buttons" id="btn_1">companyEmail@gmail.com</button></a>
            </div>
        </section>

        <section class="section2_contact">
            <h2>CONTACT US</h2>
            <form action="contact.html" method="POST" name="contactForm" id="formContact" onsubmit="return(validateData())">
                <label for="name"> Name </label>
                <input type="text" id="name" name="name"  placeholder="Wilson Doe"> <br>

                <label for="email"> Email </label>
                <input type="email" id="email" name="email" placeholder="user@email.com"> <br>

                <label for="message"> Message </label>
                <input type="text" id="message" name="message" placeholder="Write your message here"> <br>

                <input type="submit" id="submit_form" value="submit"><br>

            </form>
        </section>
    </main>

    <div id="footer1"></div>

    <!-- first script-->
    <script src="/static/js/loadNav.js"></script>
    <!-- Second script-->
    <script src="/static/js/validate.js"></script>
</body>
</html>