<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Site</title>
</head>
<body>
    <footer id="footer">
        <h2>Business Name</h2>
        <section>
            <h4>Location</h4>
            <table>
                <tr><td>New York</td></tr>
                <tr><td>Manhattan, 10010</td></tr>
                <tr><td>123-456-7899</td></tr>
            </table>
        </section>

        <section>
            <h4>Policies</h4>
            <table>
                <tr>
                    <td>FAQ</td>
                    <td>Terms & Conditions</td>
                </tr>
                <tr>
                    <td>Privacy & Policy</td>
                    <td>Refund Policy</td>
                </tr>
            </table>
        </section>
        <p>&copy; 2024 Company Name</p>
    </footer>
</body>
</html>