<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Site</title>
</head>
<body>
    <footer id="footer">
        <h2>Business Name</h2>
        <div class="footer_container">
            <section class="footer_section1">
                <table>
                    <tr>Location</tr>
                    <tr><td>New York</td></tr>
                    <tr><td>Manhattan, 10010</td></tr>
                    <tr><td>123-456-7899</td></tr>
                </table>
            </section>

            <section class="footer_section2">
                <table>
                    <tr>Policies</tr>
                    <tr>
                        <td>FAQ</td>
                        <td>Terms & Conditions</td>
                    </tr>
                    <tr>
                        <td>Privacy & Policy</td>
                        <td>Refund Policy</td>
                    </tr>
                </table>
            </section>
        </div>
        <p>&copy; 2024 Company Name</p>
    </footer>
</body>
</html>