<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Site</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li style="float:left; font-weight: bolder"><a href="home.html">COMPANY NAME</a></li>
                <li class="nav_item"><a href="home.html">Home</a></li>
                <li class="nav_item"><a href="products.html">Products</a></li>
                <li class="nav_item"><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>