<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Site</title>
</head>
<body>
  <div id="navbar"></div>

  <main>
    <section>
      <h1>Section 1</h1>
      <div>
        <img src="https://images.pexels.com/photos/7828030/pexels-photo-7828030.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3>Product Description 1</h3>
        <p>Morbi blandit neque eget ligula aliquet, eget sagittis ex faucibus. Quisque sit amet tincidunt metus, non ultricies nunc. </p>
      </div>

      <div>
      <img src="https://images.pexels.com/photos/7354584/pexels-photo-7354584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3>Product Description 2</h3>
      </div>
    </section>

    <section>
      <h1>Section 2</h1>
      <p>Use this space to promote the business and its services</p>
      <button>Explore</button>
    </section>

    <section>
      <h1>Section 3</h1>
      <div>
        <img src="https://images.pexels.com/photos/6909875/pexels-photo-6909875.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <h3>Product Description 3</h3>

      </div>

     <div>
      <img src="https://images.pexels.com/photos/7828322/pexels-photo-7828322.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
       <h3>Product Description 4</h3>
       <p>Morbi blandit neque eget ligula aliquet, eget sagittis ex faucibus. Quisque sit amet tincidunt metus, non ultricies nunc. </p>
     </div>
    </section>
  </main>

  <div id="footer1"></div>

  <script src="/static/js/loadNav.js"></script>
</body>
</html>