<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Company Site</title>
  <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
  <div id="navbar"></div>

  <main>
    <section>
      <h1>Section 1</h1>
      <div>
        <img src="/static/images/sba_img11.jpeg" alt="product_img">
        <h3>Product Description 1</h3>
        <p>Morbi blandit neque eget ligula aliquet, eget sagittis ex faucibus. Quisque sit amet tincidunt metus, non ultricies nunc. </p>
      </div>

      <div>
      <img src="/static/images/sba_img12.jpeg" alt="product_img">
        <h3>Product Description 2</h3>
      </div>
    </section>

    <section>
      <h1>Section 2</h1>
      <p>Use this space to promote the business and its services</p>
      <button>Explore</button>

      <div>
        <h3>Get a Quota</h3>
        <form action="" method="">
          <label for="name"> Name: </label>
          <input type="text" id="name" name="name" required placeholder="First Last Name"> <br>

          <label for="email"> Email: </label>
          <input type="email" id="email" name="email" required placeholder="user@email.com"> <br>

          <label for="message"> Message: </label>
          <input type="text" id="message" name="message" required placeholder="Type your Inquiry"> <br>

          <form>
            <label for="products_menu">Select service:</label>
            <select id="products_menu" name="products">
              <option>Web Development</option>
              <option>3D Design</option>
              <option>CAD</option>
            </select>
          </form>

          <input type="submit" value="submit" required> <br>
        </form>
      </div>

    </section>

    <section>
      <h1>Section 3</h1>
      <div>
        <img src="/static/images/sba_img13.jpeg" alt="product_img">
        <h3>Product Description 3</h3>

      </div>

     <div>
      <img src="/static/images/sba_img14.jpeg" alt="product_img">
       <h3>Product Description 4</h3>
       <p>Morbi blandit neque eget ligula aliquet, eget sagittis ex faucibus. Quisque sit amet tincidunt metus, non ultricies nunc. </p>
     </div>
    </section>
  </main>

  <div id="footer1"></div>

  <script src="/static/js/loadNav.js"></script>
</body>
</html>